#  Create a python program to sort the given list of tuples based on integer value using a lambda function.

In [1]:
l = [('Ricky Ponting', 27483),('Sachin Tendulkar', 34357), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
sorted(l , key = lambda x : x[1])

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

# Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

In [3]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
a = list(map(lambda x : x**2 , l))
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions

In [5]:
l1=  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
b = tuple(map (lambda x : str(x) , l1))
b

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25

In [7]:
l2 = [a for a in range(1,26)]
l2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [8]:
from functools import reduce

In [9]:
a = reduce((lambda x, y: x * y), l2)
a

15511210043330985984000000

# Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.

In [10]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [11]:
a = filter((lambda x : x if x % 2 == 0 or x % 3 == 0 else None), l)
a

In [12]:
for i in a:
    print(i)

2
3
6
9
27
60
90
120
46

# Write a python program to find palindromes in the given list of strings using lambda and filter function

In [13]:
l = ['python', 'php', 'aba', 'radar', 'level']

In [14]:
a = filter((lambda x : x if x[ : :1]== x[ : : -1] else None) ,l)

In [15]:
for i in a:
    print(i)

php
aba
radar
level